---
- hosts: localhost
  become: yes
  vars_files:
    - /var/lib/jenkins/variables.yml
  vars:
    - jenkins_port: {{jenkins_port}}
  tasks:
    - name: read admin pwd
      command: cat /var/lib/jenkins/secrets/initialAdminPassword
      register: adminpwd

    - name: Security setup for configuration
      jenkins_script:
        script: |
            import jenkins.model.*
            import hudson.security.*
            def instance = Jenkins.getInstance()
            def strategy = new AuthorizationStrategy.Unsecured()
            instance.setAuthorizationStrategy(strategy)
            instance.save()
        user: admin
        url: "http://localhost:{{jenkins_port}}"
        password: {% raw %}"{{ adminpwd.stdout }}"{% endraw %}

    - name: build iTrust job
      shell: 'java -jar {{vagrant_home}}/jenkins-cli.jar -s http://localhost:{{jenkins_port}}/ build iTrust_fuzzer'

    - name: Increase security
      jenkins_script:
        script: |
          import jenkins.model.*
          import hudson.security.*
          def instance = Jenkins.getInstance()
          def hudsonRealm = new HudsonPrivateSecurityRealm(false)
          instance.setSecurityRealm(hudsonRealm)
          def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
          strategy.setAllowAnonymousRead(false)
          instance.setAuthorizationStrategy(strategy)
          instance.save()
        user: admin
        url: "http://localhost:{{jenkins_port}}"
        password: {% raw %}"{{ adminpwd.stdout }}"{% endraw %}