#!/bin/sh
GIT_WORK_TREE=/home/ubuntu/checkbox.io git checkout -f
ansible-playbook -i inventory /home/ubuntu/build_checkbox.yml
ansible-playbook -i inventory /home/ubuntu/build_checkbox_analysis_job.yml